<div class="container top-buffer">
  
  <form #legoSetForm="ngForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
      <label for="name" class="col-md-2 col-form-label">Name:</label>
      <div class="col-md-6">
        <input id="name" [(ngModel)]="currentLegoSet.name" #name="ngModel" name="name" class="form-control" type="text" required maxlength="30">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="status" class="col-md-2 col-form-label">Status:</label>
      <div class="col-md-6">
        <select id="status" (ngModelChange)="onStatusChange($event)" [(ngModel)]="currentLegoSet.status" #status="ngModel" name="status" class="form-control" required>
          <option [value]="status" *ngFor="let status of statuses">{{status}}</option>
      </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment" class="col-md-2 col-form-label">Comment:</label>
      <div class="col-md-6">
        <input id="comment" [(ngModel)]="currentLegoSet.comment" #comment="ngModel" name="comment" class="form-control" type="text">
      </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-primary offset-md-6 col-md-2" [disabled]="legoSetForm.form.invalid">Save</button>
    </div>

  </form>

</div>