<div class="container top-buffer">
  <!--TODO: 1.Build Lauout: -->
  <!--TODO: a. Add a form with three inputs: name (text), status (dropdown), comment (text), remember about form-control and form-group -->
  <!--TODO: b. Add labels corresponding to inputs -->
  <!--TODO: c. Add submit save button -->
  <!--TODO: 2. Add template reference variables for the form and inputs -->
  <!--TODO: 3. Add save method and extend legoSetService to implement save method, handle ngSubmit event -->
  <!--TODO: 4. Disable save button when form not valid -->
  <!--TODO: 5. Add validation (name: required, max length 30), e.g. show error message when imput empty, 
               input bg color light red on error and with red border marker on left (but not when form not yet touched) -->
  <!--TODO: 6. Extra: Add @ViewChild('formVarName') of type NgForm in the legoSetDetails.component.ts and check what is in there.
                Try to implement a generic getErrorMessageOfField method to provide error messages for different inputs  -->
  <!--TODO: 7. Extra: Reactive forms -->
  add form here
</div>